@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #8cc84c;
    font-family: 'Poppins';
}

.wrapper{
    background: white;
    border-radius: 5px;
    width: 500px;
    padding: 20px;
}

.content{
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content li{
    list-style-type: none;
    background: #70a537;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
}

.content li i{
    padding-left: 15px;
}

.content input{
    border: none;
    outline: none;
    font-size: 20px;
    flex: 1;
    margin: 10px;
}

.wrapper .removeAll{
    border: none;
    outline: none;
    background: #8cc84c;
    color: white;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
}

i, button{
    cursor: pointer;
}

.removeAll:hover{
    background: #70a537;
}