:root{
    --primary-color: #e26a70;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient( 45deg, rgb(139, 155, 233) 0%, #e26a70 50%, rgb(255, 204, 112) 100% );
    overflow: hidden;
    font-family: sans-serif;
    /* text-align: center; */
}

button, i{
    cursor: pointer;
}

.modal-footer button:hover, i:hover{
    color: #fae0e1;
}

.open-modal-btn{
    padding: 20px 40px;
    border: none;
    outline: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    position: fixed;
/* Cho btn ra giua --> 3 (text-align: center tren body) */
    /* top: 45%;
    position: relative; */
/* Cho btn ra giua --> 4 */
    top: 50%;
    left: 47%;
    position: relative;
    transform: translate(-50px,-50px);
}

.open-modal-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--primary-color);
}
/* -------------- MODAL ---------------*/
.modal{
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
}

.modal-inner{
    width: 350px;
    position: relative;
    text-align: center;
    top: 30%;
    margin: 0 auto;
    background: white;
    border-radius: 5px;
    overflow: hidden; /* backgound nằm đè lên div --> div nằm đè lên bg */
    animation: modal_show 0.5s linear;
}

.modal-header{
    display: flex; 
    justify-content: space-between; /* cach cac ptu deu nhau */
    align-items: center;
    padding: 20px;
    background: var(--primary-color);
    color: white;
    font-weight: bold;
}

.modal-header i{
    transform: rotate(45deg);
}

.modal-body{
    padding: 10px;
}

.modal-body h2{
    color: var(--primary-color);
    margin-bottom: 10px;
}

.modal-body img{
    width: 100px;
}

.modal-footer{
    padding: 20px;
    text-align: center;
}

.modal-footer button{
    padding: 10px 20px;
    width: 40%;
    background: var(--primary-color);
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 5px;
}

.hidden{
    display: none;
}

/* Tao animation */
@keyframes modal_show{
    from{
        top: -300px;
        opacity: 0;
    }
    to{
        top: 30%;
        opacity: 1;
    }
}