* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;	
    background: linear-gradient(to right, #4daf54, #3d8880);
    display: flex;
    justify-content: center;
    align-items: center;}

.search-box{
    background: black;
    width: 70px;
    height: 70px;
    overflow: hidden; /* input nằm dưới cho boder-radius nằm trên*/
    position: relative;
    border-radius: 15px;
    transition: all 0.5s ease; 
}

.search-input{
    height: 100%;
    width: 100%;
    padding: 20px 100px 20px 35px; /* top right bottom left */
    font-size: 18px;
    outline: none;
    border: none;
    background: transparent;
    color: white;
}           

.search-btn{
    width: 70px;
    height: 70px;
    top: 0;
    right: 0;
    position: absolute;
    border: none;
    outline: none;
    font-size: 35px;
    cursor: pointer;
}

.search-box.open{
    width: 400px;
}